{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <h1>Snackit</h1>
  </div>
  <div class="row">
    <form class="route">
     <div class="form-group">
         <input type="text" class="form-control" id="startAddress" placeholder="Start Address">
     </div>
     <div class="form-group">
       <input type="text" class="form-control" id="endAddress" placeholder="End Address">
     </div>
     <button type="submit" class="btn btn-default" id="searchMap">Calculate My Snackit Route</button>
    </form>
  </div>
</div>
<div id="output"></div>
<div id="map"></div>
<div id="additionalTime" class="additionlTime"></div>
<div id="directions_summary" class="directions" style="margin:20px;background-color:#FFEE77;"></div>

{% endblock %}

{% block scripts %}
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyCDub-YA9BICdYSyrvcb3KkO7KDwlTqFIs&callback=initMap">
</script>
{% endblock %}
