{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}


<div class="container">

  <div class="header" id="full">
    <h1 class="animated rubberBand">Snackit</h1>
    <p>A Smart Application Connecting Snacks and Students</p>
  </div>

  <div class="statement" id="full">
    <div class="rw-wrapper">
      <h2 class="rw-sentence">
  	    <span>Volunteers delivering </span>
  	    <div class="rw-words rw-words-2">
  	      <span>brain power</span>
  	      <span>bananas</span>
    			<span>kindness</span>
    			<span>blueberries</span>
    			<span>happiness</span>
    			<span>carrots</span>
  	    </div><br>
    	  <span>to students all across Denver.</span>
      </h2>
      <a href="/map"><button type="button" id="startButton" onclick="map/map">Get Started</button></a>
    </div>
  </div>
  <div class="information" id="infoSection">
    <div class="flex-grid">
      <div class="photoSection  col one" id="six">
      </div>
      <div class="photoSection col two" id="six">
        <h2>1 in 5 children do not know when their next meal will be.<br><br><br>Fruits and vegtables are thrown out by local grocery stores.<br><br><br>Let's change that!<br><br>Help fight hunger. Help fight waste.</h2>
      </div>
    </div>
    <div class="flex-grid">
      <div class="photoSection col three" id="six">
        <h2>Well-nourished children are better equipped to learn. <br> <br><br>Volunteer with Snackit! <br><br> <br> Snackit connects snacks with students with your help.  Pick up a food donation at one of our partner stores and deliver it to one of our partner schools.<br><br>It's on your way.</h2>
      </div>
      <div class="photoSection col four" id="six">
      </div>
    </div>
  </div>
  <div class="footer">
      <p>&copy 2016 Snackit | Contact Us: <a href="gdebell@gmail.com">
    gdebell@gmail.com</a> | Like Us: <i class="fa fa-facebook-official" aria-hidden="true"></i> | Follow Us:   <i class="fa fa-twitter-square" aria-hidden="true"></i></p>
  </div>
</div>


{% endblock %}
