body {
  margin: 0;
  background-color: rgb(246,246,246);
  width: 100%;
  overflow-x: hidden;
}

#full {
  width: 100%;
  height: 150px;
  text-align: center;
}

#startButton {
  color: white;
  background-color: rgb(255,141,153);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}


#startAddress, #endAddress {
  height: 50px;
  width: 200px;
  border: 2px solid rgb(36,202,172);
  margin: 10px;
  text-align: center;
}


#searchMap {
  color: white;
  background-color: rgb(255,141,153);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
}

.header {
  background-color: rgb(255,141,92);
  padding: 5px;
}

.headerPageTwo {
  width: 100%;
  height: 75px;
  text-align: center;
  background-color: rgb(255,141,92);
  padding: 5px;
}

.statement {
  margin-bottom: 80px;
}

.footer {
  background-color: rgb(153,235,255);
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 1%;
}


h1 {
  color: rgb(80,80,80);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 70px;
  letter-spacing: 0.2em;
  margin-top: -2px;
  margin-bottom: -1.5px;
}

p {
  color: rgb(80,80,80);
  font-family: "Lucida Console", Monaco, monospace;
  word-spacing: 0.2em;
  font-size: 12px;
}
 a {
   text-decoration: none;
   color: rgb(80,80,80);
 }

h2 {
  color: rgb(246,246,246);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.photoSection h2{
  color: rgb(246,246,246);
  font-family: "Trebuchet MS", Helvetica, sans-serif
  word-spacing: 0.5em;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-align: center;
  padding: 2px;
}

#mainPageImage {
  border-radius: 50%;
}

/* map.html*/

#map {
  height: 500px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border: 2px solid rgb(80,80,80);

}

.mapDisplay {
  background-color: rgb(36,202,172);
  width: 100%;
  height: 450px;
  text-align: center;
}

#output {
  font-size: 11px;
}

#six {
  width: 50%;
  height: 300px;
  display: inline-block;
}


.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}


.one {
  background-image: url("../../css/images/watermelon.jpg");
}


.two {
  background-color: rgb(36,202,172); /* turq */
}

.three {
  background-color: rgb(239,65,48); /* red */
}

.four {
  background-image: url("../../css/images/strawberry.jpg");
}

.five {
  background-color: rgb(107,231,134); /*green*/
}

.six {
  background-color: rgb(255,255,194); /*light yellow*/
}



.photoSection {
  background-size: cover;
}

#infoSection {
  height: 600px;
}


.rw-wrapper{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: block;
  padding: 2.5% 20%;
  background-color: rgb(246,246,246);
  font-size: 30px;
}

.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.rw-sentence span{
	color: #444;
	white-space: nowrap;
	font-size: 100%
	font-weight: normal;
}

.rw-words{
	display: inline;
  align-items: center;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: rgb(80,80,80)
}

.rw-words-2 span{
	animation: rotateWordsSecond 18s linear infinite 0s;
}

.rw-words span:nth-child(1) {
	animation-delay: 0s;
	color: rgb(107,231,134); /*green*/
  font-weight: bold;
}
.rw-words span:nth-child(2) {
	animation-delay: 3s;
	color: rgb(54,222,246); /*blue*/
  font-weight: bold;
}
.rw-words span:nth-child(3) {
	animation-delay: 6s;
	color: rgb(191,148,228); /*purple*/
  font-weight: bold;
}
.rw-words span:nth-child(4) {
	animation-delay: 9s;
	color: rgb(246,78,78);  /*red*/
  font-weight: bold;
}
.rw-words span:nth-child(5) {
	animation-delay: 12s;
	color: rgb(14,128,234); /*blue*/
  font-weight: bold;
}
.rw-words span:nth-child(6) {
	animation-delay: 15s;
	color: rgb(170,102,229); /*purple*/
  font-weight: bold;
}

@keyframes rotateWordsSecond {
  0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
  10% { opacity: 0.3; width: 0px; }
  20% { opacity: 1; width: 100%; }
  27% { opacity: 0; width: 100%; }
  100% { opacity: 0; }
}

/*responsive design*/
@media screen and (max-width: 600px) {

  span {
    overflow-x: hidden;
  }

  #full {
    height: 80px;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
   h1 {
     font-size: 30px;
   }
   h2 {
     font-size: 15px;
   }
   .statement {
     margin-bottom: 10px;
   }
   .photoSection h2{
     font-size: 10px;
     text-align: center;
     padding: 0px;
   }
   .four {
     background-image: url("../../css/images/strawberry_sm.jpg");
   }
   p {
     font-size: 10px;
     text-align: center;
   }
   #infoSection {
     height: 440px;
   }
   #six {
     width: 50%;
     height: 220px;
     display: inline-block;
   }
   .rw-words span{
   	position: fixed;
  }

}
